extends layout

block content
  h1= title

  ul
    each item in results
      li
        | #{item.costume_type} - #{item.size} - $#{item.cost}
        a(href=`/costumes/update?id=${item._id}` style="margin-left:10px") Update